.advantages__list {
  @include reset-list;

  max-width: 887px;
  width: 90%;
  min-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.advantages {
  z-index: 15;

  position: absolute;
  width: 100%;

  top: 579px;
  left: 0;

  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/bg-hedgehog-left-desktop@1x.png"), url("../img/backgrounds/bg-hedgehog-right-desktop@1x.png");
  background-position: left -7px top -41px, right -28px top 151px;
  background-size: 470px 563px, 507px 345px;
  padding: 150px 0 60px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-hedgehog-left-desktop@2x.png"), url("../img/backgrounds/bg-hedgehog-right-desktop@2x.png");
  }
}

.advantages__item-name {
  font-family: "Cormorant Infant", "Times New Roman", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 8px;
}

.advantages__description {
  line-height: 22px;
  text-align: center;
}

.advantages__circle-wrap {
  width: 152px;
  height: 152px;
  box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
  border-radius: 50%;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__item {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--breeding {
    margin-top: 23px;

    .advantages__circle-wrap {
      background-color: $pale-orange;
      background-image: url("../img/icons/icon-hedgehog.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 72px 72px;
    }
  }

  &--health {
    .advantages__circle-wrap {
      background-color: $pale-green;
    }
  }

  &--care {
    margin-top: 23px;

    .advantages__circle-wrap {
      background-color: $green;
      border: 1px solid #94afab;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages__circle-wrap {
    width: 93px;
    height: 93px;
    margin-bottom: 19px;
  }

  .advantages__item {
    align-items: flex-start;
    margin-bottom: 24px;

    &--breeding {
      width: 110px;
      margin-top: 0;

      .advantages__circle-wrap {
        background-size: 44px 44px;
      }
    }

    &--health {
      width: 125px;

      .advantages__icon {
        width: 23px;
        height: 22px;
      }
    }

    &--care {
      width: 115px;
      margin-top: 0;
      position: absolute;
      bottom: -3px;
      left: 144px;

      .advantages__item-name {
        padding-right: 41px;
      }

      .advantages__icon {
        width: 27px;
        height: 27px;
      }
    }
  }

  .advantages__item-name {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px;
  }

  .advantages__description {
    font-size: 10px;
    line-height: 16px;
    text-align: left;
  }

  .advantages__list {
    min-width: auto;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: none;
  }

  .advantages {
    background-image: url("../img/backgrounds/bg-hedgehog-right-mobile@1x.png");
    background-size: 208px 197px;
    background-position: right 0 top -8px;
    top: 309px;
    padding-top: 30px;
    padding-left: 8.25%;
    padding-right: 6.25%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-hedgehog-right-mobile@2x.png");
    }
  }
}
