.form__item {
  border: none;
  padding: 0;
  margin: 0;

  &--name {
    margin-bottom: 11px;
  }

  &--phone {
    margin-bottom: 26px;
  }
}

.form__input {
  width: 100%;
  border-radius: 8px;
  background-color: $light-grey;
  border: none;
  padding: 23px 27px;
  outline: none;
}

.form__input:disabled {
  background-color: $pale-blue;
  opacity: 0.7;
}

.form__input:disabled:hover {
  box-shadow: none;
}

.form__input:hover,
.form__input:focus {
  box-shadow: 0 0 5px #c2ccca;
}

.form__input::placeholder {
  color: $dark-green;
}

.form__checkboxes-list {
  @include reset-list;

  margin-bottom: 36px;
}

.form__submit-button {
  @include reset-button;

  color: $white;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background-color: $green;
  box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
  border-radius: 40px;
  padding: 27px 27px 26px;
  width: 100%;
  margin-bottom: 18px;
}

.form__submit-button:disabled {
  background-color: $pale-blue;
  opacity: 0.7;
}

.form__submit-button:disabled:hover {
  background-image: none;
  color: $white;
  cursor: default;
}

.form__submit-button:hover,
.form__submit-button:focus {
  background-image: linear-gradient(90.68deg, #b0d3ce -2.41%, #ffedce 99.79%);
  color: $dark-green;
}

.form__submit-button:active {
  opacity: 0.7;
}

.form__details {
  font-size: 10px;
  line-height: 12px;
  display: flex;
  width: 385px;
  margin: 0 auto;
}

.form__details-text {
  margin-right: 5px;
}

.form__details-link {
  @include add-transition-effect;

  text-decoration: underline;
  color: $dark-green;
  position: relative;
  bottom: 0;
  outline: none;
}

.form__details-link:hover,
.form__details-link:focus {
  color: $black;
  bottom: 3px;
}

.form__details-link:active {
  opacity: 0.7;
}

.form__select {
  font-size: 12px;
  line-height: 14px;
  color: $dark-green;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $green;
  outline: none;
  margin-bottom: 22px;
  padding: 4px 11px;
  background-color: $light-grey;
  cursor: pointer;
}

.form__select:hover,
.form__select:focus {
  border-color: $black;
  color: $black;
}

.form__checkbox-item:not(:last-child) {
  margin-bottom: 10px;
}

.form__checkbox-label {
  font-size: 12px;
  line-height: 14px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

.form__checkbox-label:hover::before,
.form__checkbox-label:focus::before {
  border-color: $black;
}

.form__checkbox-input:disabled + .form__checkbox-label:hover::before {
  cursor: default;
  border-color: $green;
}

.form__checkbox-input:disabled + .form__checkbox-label:hover {
  cursor: default;
}

.form__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 10px;
  height: 10px;
  border: 1px solid $green;
  background-color: $light-grey;
}

.form__checkbox-input:checked + .form__checkbox-label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-check.svg");
  background-size: 8px 8px;

  top: 2px;
  left: 2px;
}

.form__checkbox-input:checked:disabled + .form__checkbox-label::before {
  opacity: 0.7;
}

.form__checkbox-input:checked:disabled + .form__checkbox-label::after {
  opacity: 0.7;
  border-color: $pale-blue;
}

.form__checkbox-input:focus + .form__checkbox-label::before {
  border-color: $black;
}
