
.page-header__logo-link {
  display: block;
  width: 121px;
  height: 56px;
  margin-right: 10px;
}

.page-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.page-header__logo-icon {
  color: $dark-green;
}

.page-header__container {
  width: 100%;
  max-width: 1810px;
  margin: 0 auto;
  padding: 30px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-header__label {
  font-weight: 500;
  text-decoration: underline;
  font-feature-settings: "tnum" on, "lnum" on;
  padding-top: 4px;
}

.page-header__phone-number {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: $dark-green;
  font-feature-settings: "tnum" on, "lnum" on;
  position: relative;
}

.page-header__phone-number::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $dark-green;
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
}

.page-header__phone-number:hover::after,
.page-header__phone-number:focus::after {
  opacity: 1;
  transform: translateY(0);
}

.page-header__phone-number:active {
  opacity: 0.7;
}

.page-header__phone-icon {
  color: $dark-green;
}


.page-header__phone-button {

  width: 69px;
  height: 69px;

  flex-shrink: 0;
  margin-right: 20px;

  background-image: linear-gradient(1.36deg, #b0d3ce 12.29%, #ffedce 83.89%);
  box-shadow: -4px -4px 20px #ffffff, 4px 4px 20px #cfd7d3;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 0;
  transition-property: all;
  transition-duration: 0.7s;
  transition-delay: 0.2s;
}

.page-header__phone-button:hover,
.page-header__phone-button:focus {
  bottom: 10px;
  box-shadow: -4px -4px 20px #ffffff, 4px 4px 20px #000000;
}

.page-header__phone-button:active {
  opacity: 0.7;
}

.page-header__call {
  //max-width: 283px;
  //width: 17%;

  display: flex;
  // justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;

  // flex-shrink: 0;
  margin-right: 5px;
}

.page-header__basket {
  width: 37px;
  height: 33px;
  position: relative;
  color: $dark-green;

  bottom: 0;
  transition-property: all;
  transition-duration: 0.7s;
  transition-delay: 0.2s;

  margin-top: 18px;
}

.page-header__basket:hover,
.page-header__basket:focus {
  color: $black;
  bottom: 10px;
}

.page-header__basket:active {
  opacity: 0.7;
}

.page-header__ammount {
  position: absolute;
  top: -4px;
  right: -5px;

  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: $pale-orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "lnum" on;
  color: $black;
}

.page-header__wrapper {
  max-width: 1080px;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  //padding-top: 37px;
}

.page-header__contacts-wrap {
  max-width: 400px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.page-header__menu-button {
  display: none;
}

.page-header__mobile-links {
  display: none;
}

@media (max-width: $mobile-width) {
  .page-header__mobile-wrap {
    display: flex;
  }

  .page-header__mobile-links {
    display: flex;
    align-items: center;
  }

  .page-header__basket,
  .page-header__phone-button {
    display: none;
  }

  .page-header__mobile-phone {
    @include add-transition-effect;

    width: 35px;
    height: 35px;
    outline: none;
    background-image: linear-gradient(92.42deg, #b0d3ce -1.96%, #ffedce 92.83%);
    box-shadow: -4px -4px 20px #ffffff, 4px 4px 20px #cfd7d3;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
  }

  .page-header__mobile-phone-icon {
    @include add-transition-effect;

    color: $dark-green;
  }

  .page-header__mobile-basket {
    @include add-transition-effect;

    width: 26px;
    height: 19px;
    position: relative;
    margin-left: 12px;
    bottom: 0;
  }

  .page-header__mobile-basket-icon {
    color: $dark-green;
  }

  .page-header__ammount {
    width: 14px;
    height: 14px;
    font-size: 8px;
    line-height: 9px;
  }

  .page-header__mobile-phone:hover,
  .page-header__mobile-phone:focus,
  .page-header__mobile-basket:hover,
  .page-header__mobile-basket:focus {
    bottom: 3px;
  }

  .page-header__mobile-phone:hover .page-header__mobile-phone-icon,
  .page-header__mobile-phone:focus .page-header__mobile-phone-icon,
  .page-header__mobile-basket:hover .page-header__mobile-basket-icon,
  .page-header__mobile-basket:focus .page-header__mobile-basket-icon {
    color: $black;
  }

  .page-header__mobile-phone:active,
  .page-header__mobile-basket:active {
    opacity: 0.7;
  }

  .page-header__menu-button {
    @include reset-button;

    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-right: 85px;
  }

  .page-header__logo-icon {
    width: 56px;
    height: 26px;
  }

  .page-header__logo-link {
    width: 56px;
    height: 26px;
    margin-right: 0;
    z-index: 5;
  }

  .page-header__container {
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 21px 8% 0 6.25%;
  }

  .page-header__wrapper {
    position: absolute;

    background-color: $white;
    left: 0;
    top: 8px;
    flex-direction: column;
    align-items: flex-start;
    padding: 99px 20px 43px 40px;
    width: 301px;
    box-shadow: 4px 4px 20px #e3e3e3;
    border-radius: 0 10px 10px 0;
  }

  .page-header__label {
    padding-top: 0;
  }

  .page-header__contacts-wrap {
    margin-right: auto;
    width: 100%;
  }

  .page-header__menu-button span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: transparent;
    position: relative;
  }

  .page-header__menu-button span::before,
  .page-header__menu-button span::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: $dark-green;
    left: 0;

    top: 0;
    transition: top 0.3s, transform 0.3s  0.3s;
  }

  .page-header__menu-button span::after {
    transform: rotate(-45deg);
  }

  .page-header__menu-button span::before {
    transform: rotate(45deg);
  }

  .page-header__menu-button:hover span::after,
  .page-header__menu-button:focus span::after,
  .page-header__menu-button:hover span::before,
  .page-header__menu-button:focus span::before {
    background-color: $black;
  }

  .page-header__menu-button:active {
    opacity: 0.7;
  }

  .page-header {
    z-index: 20;

    &--menu-closed {
      .page-header__menu-button span {
        background-color: $dark-green;
      }

      .page-header__menu-button:hover span,
      .page-header__menu-button:active span {
        background-color: $black;
      }

      .page-header__menu-button span::before,
      .page-header__menu-button span::after {
        transform: none;
        transform-origin: 50% 50%;
        transition: top 0.3s 0.3s, transform 0.3s;
      }

      .page-header__menu-button span::before {
        top: 5px;
      }

      .page-header__menu-button span::after {
        top: -5px;
      }

      .page-header__wrapper {
        display: none;
      }
    }
  }
}
