.products__list {
  @include reset-list;

  margin: 0 auto;
  max-width: 1228px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__item {
  width: 570px;
  box-shadow: 4px 4px 40px #f1f1f1;
  position: relative;
  border-radius: 20px 20px 40px 20px;

  margin: 0 21.5px 34px;
  display: flex;
  align-items: flex-end;

  &--evgeniy {
    background-color: $pale-orange;
    background-repeat: no-repeat;
    background-image: url("../img/backgrounds/bg-shadow@1x.png");
    background-size: 406px 100px;
    background-position: bottom -8px right -41px;
    padding: 45px 10px 35px 63px;
    align-items: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-shadow@2x.png");
    }

    .products__image {
      width: 300px;
      height: 235px;
      margin-top: 77px;
    }

    .products__sale {
      left: 67px;
      top: -6px;
    }
  }

  &--maxim {
    background-color: $pale-green;
    padding: 45px 10px 35px 63px;
    align-items: center;

    .products__image {
      width: 300px;
      height: 235px;
      margin-top: 77px;
    }
  }

  &--food {
    background-color: $pale-blue;
    align-items: flex-start;
    padding: 58px 3px 36px 73px;

    .products__name {
      margin-bottom: 14px;
    }

    .products__text {
      padding-right: 20px;
      margin-bottom: 16px;
    }

    .products__wrap {
      margin-right: 34px;
    }
  }
}

.products__item::after {
  content: "";
  position: absolute;
  border: 40px solid transparent;
  border-right: 40px solid rgba(241, 241, 241, 0.9);
  border-bottom: 40px solid rgba(241, 241, 241, 0.9);
  box-shadow: inset 4px 4px 40px 40px rgba(241, 241, 241, 0.9), 4px 4px 4px rgba(241, 241, 241, 0.9);
  bottom: 0;
  right: 0;
}

.products__sale {
  position: absolute;
  left: 60px;
  top: -5px;
  background-color: $green;
  color: $white;
  width: 68px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 6px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.products__name {
  font-family: "Cormorant Infant", "Times New Roman", serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 10px;
}

.products__text {
  margin: 0 0 10px;
  color: $black;
}

.products__old-price {
  font-family: "Cormorant Infant", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: $grey;
}

.products__price {
  font-family: "Cormorant Infant", "Times New Roman", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.products__wrap {
  display: flex;
  flex-direction: column;
  width: 188px;
}

.products__info-wrap {
  position: absolute;
  top: 19px;
  right: 28px;
  padding-bottom: 25px;
}

.products__info-button {
  @include reset-button;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-green;
  z-index: 3;
}

.products__additional-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55px;
  background-color: $dark-green;
  width: 220px;
  padding: 33px 29px 30px 32px;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.products__info-wrap:hover .products__additional-info {
  display: flex;
}

.products__additional-info::before {
  content: "";
  position: absolute;

  border: 10px solid transparent;
  border-bottom: 10px solid $dark-green;

  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.products__grafted {
  color: $white;
  line-height: 22px;
}

.products__medicine-icon {
  color: $white;
  margin-right: 7px;
}

.products__wrapper {
  display: flex;
  align-items: center;
}

.products__like-button {
  @include reset-button;

  margin-right: 7px;
}

.products__like-ammount {
  color: $white;
  line-height: 22px;
  text-transform: lowercase;
  font-feature-settings: "pnum" on, "lnum" on;
}

.products__like-icon {
  @include add-transition-effect;

  color: $white;
}

.products__like-button:hover .products__like-icon,
.products__like-button:focus .products__like-icon {
  color: $red;
}

.products__like-button:active {
  opacity: 0.7;
}

.products__info-button:hover,
.products__info-button:focus {
  color: $black;
}

.products__info-icon {
  transition-property: all;
  transition-duration: 0.7s;
  transition-delay: 0.2s;
  width: 37px;
  height: 37px;
}

.products__info-button:hover .products__info-icon,
.products__info-button:focus .products__info-icon {
  color: $black;
}

.products__info-button:active {
  opacity: 0.7;
}

.products__buy-button {
  @include reset-button;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: $dark-green;
  transform: translate(0, 0);

  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 0.7s;
}

.products__plus-icon {
  color: $dark-green;
  width: 27px;
  height: 27px;

  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 0.7s;
}

.products__buy-button:hover .products__plus-icon,
.products__buy-button:focus .products__plus-icon {
  color: $black;
  width: 32px;
  height: 32px;
}

.products__buy-button:hover,
.products__buy-button:focus {
  transform: translate(3px, 3px);
}

.products__buy-button:active {
  opacity: 0.7;
}

.products {
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/bg-left-ellipse@1x.png"), url("../img/backgrounds/bg-right-ellipse@1x.png");

  background-size: 484px 570px, 166px 369px;
  background-position: left 0 bottom -182px, right 0 bottom -179px;

  margin-top: 300px;
  padding-bottom: 102px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-left-ellipse@2x.png"), url("../img/backgrounds/bg-right-ellipse@2x.png");
  }
}

@media (max-width: $mobile-width) {
  .products {
    background-image: none;
    padding: 0 6.25%;
    margin-top: 406px;
    margin-bottom: 31px;
  }

  .products__list {
    flex-direction: column;
  }

  .products__name {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 7px;
  }

  .products__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 22px;
  }

  .products__price {
    line-height: 43px;
  }

  .products__item {
    width: 100%;
    margin: 0 0 22px;
    align-items: flex-start;
    padding: 46px 10px 21px 30px;

    &--evgeniy {
      background-image: none;

      .products__sale {
        top: -3px;
        left: 30px;
      }

      .products__image {
        width: 171px;
        height: 188px;
        margin-top: 0;
      }
    }

    &--maxim {
      .products__image {
        width: 171px;
        height: 188px;
      }

      .products__sale {
        top: -5px;
        left: 32px;
      }

      .products__buy-button {
        bottom: -5px;
      }
    }

    &--food {
      padding: 45px 10px 38px 30px;

      .products__text {
        padding-right: 9px;
        margin-bottom: 39px;
      }

      .products__image {
        bottom: 67px;
        right: -10px;
      }
    }
  }

  .products__item::after {
    border: 30px solid transparent;
    border-right: 30px solid rgba(241, 241, 241, 0.9);
    border-bottom: 30px solid rgba(241, 241, 241, 0.9);
  }

  .products__image {
    position: absolute;
    right: -20px;
    bottom: 18px;
    z-index: 8;
  }

  .products__info-button {
    display: none;
  }

  .products__sale {
    width: 48px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px;
  }

  .products__wrap {
    min-width: 122px;
    width: 50%;
  }

  .products__additional-info {
    display: flex;
    padding: 0;
    background-color: transparent;
    top: -6px;
    width: auto;
    right: -9px;
    justify-content: flex-end;
    z-index: 15;
  }

  .products__additional-info::before {
    display: none;
  }

  .products__like-icon,
  .products__medicine-icon {
    color: $dark-green;
  }

  .products__like-icon {
    width: 9px;
    height: 8px;
  }

  .products__like-button {
    margin-right: 2px;
  }

  .products__medicine-icon {
    width: 10px;
    height: 10px;
    margin-right: 2px;
  }

  .products__like-ammount,
  .products__grafted {
    color: $dark-green;
    font-size: 10px;
    line-height: 16px;
  }

  .products__wrapper:nth-of-type(2) {
    margin-left: 19px;
  }
}
