$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$dark-green: #195557;
$green: #70908b;
$pale-grey: #eaeeef;
$light-grey: #f8f8f8;
$pale-orange: #ffedcd;
$pale-green: #e2f0df;
$pale-blue: #eaeeef;
$grey: #c2ccca;
$red: #f11212;
$mobile-width: 767px;
